#blogs .hd, #blog .hd {
	padding-bottom: 0 !important;
}
#blogs.bbww, #blogs .bbww, #blog .bbww {
	border-bottom: none;
	padding-bottom: 55px;
}

#blogs table {
	margin: 0;
}
#blogs .blog {
	padding: 10px 0;
	border-top: 1px solid rgba(130, 128, 128, .6);
}
#blogs .blog.top {
	border-top: none;
}
#blogs .cover {
	width: 138px;
	margin-right: 15px;
}
.blog h2 {
	color: #ff0014;
	font-size: 1.16em;
}
.blog .author {
	color: #4d4c4c;
	font-style: italic;
	font-size: .7em;
	padding-top: .15em;
	padding-bottom: .5em;
}
#blogs .blog .summary {
	line-height: 22px;
}
#blogs .blog .more {
	color: #fe9c9c;
	text-decoration: none;
}
#blogs .more-blog {
	margin-top: .8em;
	margin-bottom: 1.2em;
}
#blogs .more-blog a {
	color: #ff0014;
	font-size: 1.1em;
}

.page {
	padding: .3em;
	margin-bottom: .4em;
	border-bottom: 1px dashed rgba(130, 128, 128, .6);
	text-align: right;
}
.page.bottom {
	border-bottom: none;
	border-top: 1px dashed rgba(130, 128, 128, .6);
}
.page a {
	text-decoration: none;
}
.page .current{
	color: #ff0014;
}
.page .nav a {
	color: #ff0014;
	color: rgba(255, 0, 20, .7);
}
.page .num a {
	color: #828080;
}

#blog .content {
	line-height: 22px;
}
#blog .content a {
	color: #fe9c9c;
}
#blog .content img {
	max-width: 100%;
}
#blog.view {
	border-bottom: none;
}