@font-face {
    font-family: "HelveticaNeueCn";
    src: url("HelveticaNeueLTPro-Cn.otf");
}
@font-face {
    font-family: "HelveticaNeueTh";
    src: url("HelveticaNeueLTPro-Th.otf");
}

* {
	margin: 0;
	padding: 0;	
}

body {
	background-color: black;
	font-family: HelveticaNeueCn;	
}
ul {
	list-style: none;
}
.xblock {
	width: 800px;
	height: 404px;
	margin: 0 auto;
}
.uppercase-title {
	text-transform: uppercase;
}
.clear {
	clear: both;
}


#language {
	float: right;
	font-size: .8em;
	z-index: 9999;
}
#language a {
	color: #ccc;
	margin-top: 20px;
	margin-left: 5px;
}




#footer {
	background: url(footer-bg.jpg);
	height: 400px;	
}
#footer-links {
	height: 45px;
	padding: 10px 0;
	border-top: 1px solid #373737;
	border-bottom: 1px solid #373737;
}
.footer-link-title {
	color: 	#e32561;
	font-family: HelveticaNeueCn;
	font-weight: bold;
	text-transform:uppercase;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 10px;
}
#footer-links div {
	float: left;
	height: 45px;
	text-align: center;
}
#footer-sns {
	width: 190px;
	border-right: 1px solid #5e5d5d;
}
#footer-sns a {
	display: inline-block;
	background: url(snsicon.png) no-repeat 0 0;
	text-indent: -999em;
}
#footer-renren {
	width: 58px;
	height: 33px;
	margin-right: 20px;
}
#footer-weibo {
	width: 43px;
	height: 35px;
	background-position: -80px 0 !important;
}
#footer-link {
	width: 426px;
	border-right: 1px solid #5e5d5d;
}
#footer-link a {
	display: inline-block;
	background: url(snsicon.png) no-repeat;
	text-indent: -999em;
}
#footer-tongji {
	width: 114px;
	height: 44px;
	background-position: 0 -60px !important;
	margin-right: 40px;
}
#footer-sfc {
	width: 106px;
	height: 34px;
	background-position: 0 -130px !important;
}
#footer-down {
	width: 182px;
}
#footer-down a {
	color: #6a6966;	
	font-size: .88em;
}
#contact {
	margin-top: 1.4em;	
}
#staffs {
    width: 450px;
    float: left; 
}
#contact-us {
    margin-bottom: 1.3em;
}
#contact-us p {
    color: #fe9cbd;
    font-style: italic;
}
#contact-us h1 {
    font-size: 1.2em;
    color: #e32561;
}
.staff {
    width: 220px;
    margin-bottom: 1.3em;
    color: #6B6A6A;
    float: left;
}
.staff-position {
    color: #e32561;
}
.staff-phone, .staff-mail {
    text-indent: 1.6em;
    background: url(icon.png) no-repeat 0 0;
    line-height: 1.4em;
}
.staff-mail {
    background-position: 0 -50px;    
}
.staff-name {
    padding-bottom: .6em;    
}

#map {
    width: 340px;
    height: 240px;
    margin-top: 40px;
    float: right;
    color: #F091A6;
    text-align: right;
    position: relative;
    background: url(map.png) no-repeat center 0;
}
#map p {
    position: absolute;
    bottom: 0;
	right: 0;  
}