@import "blog.css";

#welcome-wrap {
	width: 800px;
	margin: 0 auto;
	background: #ae0202 url(dots.jpg);
}
#welcome {
	width: 76%;
	margin: 0 auto;
	padding: 37px 2% 32px 2%;
	color: white;
}
#welcome-hd {
	text-transform: uppercase;
}
#welcome-bd {
	padding-top: .6em;
	line-height: 22px;
}
#team-wrap {
	width: 800px;
	height: 302px;
	margin: 0 auto;
	background: url(team-bg.jpg) no-repeat;
}
#team {
	width: 76%;
	margin: 0 auto;
	padding: 20px 2% 45px 2%;
}
#team-hd {
	color: #ff0014;
	text-transform: uppercase;
}
#team-hd h2 {
	font-size: .92em;
	padding-top: .6em;
}
#team-bd {
	color: white;
	line-height: 22px;
	/* 分栏 */
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
}
#team-bd.en-us {
    line-height: 20px;
}
#team-bd ul {
	color: #ff0014;
	font-size: .95em;
	margin-left: 1.2em;
	margin-top: .7em;
}

#members {
	margin-top: -20px;
}
#members table {
	width: 100%;
	margin-bottom: 1.6em;
}
#members ul {
	list-style-image: url(triangle.png);
}
.member .left {
    width: 20%;
}
.member .right {
    padding-left: 1.5%;
    line-height: 22px;
}
.member .center {
    width: 5%;
}
.member .position {
	text-indent: 1em;
	background: url(triangle.png) no-repeat 0 .5em;
	color: #ff0014;
    text-decoration: none;
    font-size: 1.08em;
    line-height: 1.5em;
    padding-bottom: .3em;
}
.member li {
	line-height: 1.5em;
}
.member li a {
	color: #ff0014;
	text-decoration: none;
	font-size: 1.08em;
}
.member .face {
	width: 95%;
	border: 3px solid #ff0014;
}
.member ul {
	list-style-position: inside;
}
.member ul.group {
	margin-left: 1.4em;
	font-size: .92em;
	height: 1.4em;
	padding-top: .3em;
}
.member ul.group li {
    float: left;
    margin-right: 2em;
    list-style-image: url(pink-triangle.png);
}
.member ul.group a {
	color: #fe9c9c;
}

/*#star .right {
    padding-right: 0;
}
#star .left {
	position: relative;
}
#star .left ul {
	font-size: .9em;
	margin-left: 1em;
}
#star .left li {
	line-height: 1.2em;
	padding-top: .5em;
	word-break: break-all;
	color: #ff0014;
}
#star .left li span {
	color: white;
}
#star .responsible {
	background: url(big-triangle.png) no-repeat;
	width: 40px;
	height: 40px;
	color: white;
	position: absolute;
	padding: 3px;
	font-weight: bold;
}
#star .face {
	width: 100px;
	border: 1px solid white;
}
#star .position {
	text-align: right;
	font-size: .8em;
	margin-top: .2em;
	color: #6a6966;
}*/

#more-star {
    height: 150px;
    margin-top: .8em;
}
#more-star > div {
	width: 100px;
	height: 100px;
	border: 2px solid #ff0014;
	overflow: hidden;
	text-align: center;
	margin-right: 10px;
	float: left;
}
#more-star a {
	text-decoration: none;
}
#more-star .mini-face {
    text-align: center;
}
#more-star .mini-face img {
	width: 100%;
	min-height: 100%;
}
#more-star .more {
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color: #ff0014;
    font-weight: bold;
    font-size: 3em;
}

#car {
    line-height: 22px;
}
#car .general-info a {
	color: #fe9c9c;
	font-size: .9em;
	line-height: 2.5em;
}
#car .more {
	margin-top: .8em;
}
#car .more a {
	color: #ff0014;
}
#car .right img {
	max-width: 250px;
	margin-left: 15px;
}


