@import "blog.css";

#welcome-wrap {
	width: 800px;
	margin: 0 auto;
	background: #ae0202 url(dots.jpg);
}
#welcome {
	width: 76%;
	margin: 0 auto;
	padding: 37px 2% 32px 2%;
	color: white;
}
#welcome-hd {
	text-transform: uppercase;
}
#welcome-bd {
	font-family: HelveticaNeueTh;
	padding-top: .6em;
	line-height: 1.2em;
}
#team-wrap {
	width: 800px;
	height: 302px;
	margin: 0 auto;
	background: url(team-bg.jpg) no-repeat;
}
#team {
	width: 76%;
	margin: 0 auto;
	padding: 25px 2% 45px 2%;
}
#team-hd {
	color: #ff0014;
	text-transform: uppercase;
}
#team-hd h2 {
	font-size: .92em;
	padding-top: .6em;
}
#team-bd {
	color: white;
	font-family: HelveticaNeueTh;
	line-height: 1.18em;
	/* 分栏 */
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
}
#team-bd ul {
	color: #ff0014;
	font-size: .95em;
	margin-left: 1.2em;
	margin-top: .7em;
}

#member-star {
	margin-top: -20px;
}
#member-star > section {
	float: left;
	width: 49%;
}
#star {
	margin-left: 2%;
}
#member-star table {
	width: 96%;
}
#member-star .left {
	padding-right: 4%;
}
#member-star ul {
	list-style-image: url(triangle.png);
}
#star .right {
	padding-right: 0;
}
#member .position {
	text-indent: .8em;
	background: url(triangle.png) no-repeat 0 .6em;
	color: #ff0014;
	font-size: .8em;
	line-height: 2em;
}
#member li {
	line-height: 1.5em;
}
#member li a {
	color: #ff0014;
	text-decoration: none;
	font-size: 1.08em;
}
#member .face {
	width: 100px;
	border: 3px solid #ff0014;
}
#member ul {
	list-style-position: inside;
}
#member ul.group {
	margin-left: 1.1em;
	font-size: .92em;
	list-style-image: url(pink-triangle.png);
}
#member ul.group a {
	color: #fe9c9c;
}

#star .left {
	position: relative;
}
#star .left ul {
	font-size: .9em;
	margin-left: 1em;
}
#star .left li {
	line-height: 1.2em;
	padding-top: .5em;
	word-break: break-all;
	color: #ff0014;
}
#star .left li span {
	color: white;
}
#star .responsible {
	background: url(big-triangle.png) no-repeat;
	width: 40px;
	height: 40px;
	color: white;
	position: absolute;
	padding: 3px;
	font-weight: bold;
}
#star .face {
	width: 100px;
	border: 1px solid white;
}
#star .position {
	text-align: right;
	font-size: .8em;
	margin-top: .2em;
	color: #6a6966;
}

#more-star > div {
	width: 44px;
	height: 44px;
	border: 2px solid #ff0014;
	overflow: hidden;
	text-align: center;
	margin-right: 10px;
	float: left;
}
#more-star a {
	text-decoration: none;
}
#more-star .other {
	background-color: #ff0014;
}
#more-star .other a {
	color: white;
	display: block;
	margin-top: 5px;
}
#more-star .mini-face img {
	width: 100%;
}
#more-star .slh {
	border: none;
	font-size: 3em;
	font-weight: bold;
	line-height: 44px;
}
#more-star .slh a {
	color: #ff0014;
}

#car .more {
	margin-top: .8em;
}
#car .more a {
	color: #ff0014;
}
#car .right img {
	max-width: 250px;
	margin-left: 15px;
}


