.bbww {
	border-bottom: none;
}

.bbww h2{
	color: #ff0014;
	font-size: 1.02em;
	text-indent: .8em;
	background: url(triangle.png) no-repeat 0 .3em;
	color: #ff0014;
	text-transform: uppercase;
	margin-top: .8em;
}
.general {
	line-height: 22px;
}
.general ul{
	list-style-position: inside;
}
.general p {
	padding-top: .8em;
}
.general a, .general ul {
	color: #fe9c9c;
}

.brochure {
	margin-top: 2.6em;
	background: url(sponsor-border.png) repeat-x 0 center;
}
.brochure a {
    display: block;
    margin: 0 auto;
    width: 106px;
    height: 84px;
    background: #1c1b1b url(become-en.png) no-repeat center center;
    text-indent: -9999em;
}
.brochure a.zh-cn {
    background-image: url(become-cn.png);
}
/*.brochure .hr {
	width: 265px;
}
.brochure .hr div {
	width: 100%;
	border-top: 1px solid rgba(130, 128, 128, .6);
	margin-top: 43px;
}
.brochure .downloadBtn {
	width: 86px;
	height: 86px;
	margin: 0 auto;
	background-color: #ff0014;
	border-radius: 43px;
	text-align: center;
	position: relative;
}
.brochure .downloadBtn a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9em;
	position: absolute;
	top: 17px;
	left: 15px;
}
.brochure .downloadBtn.zh-cn a {
	letter-spacing: .4em;
	line-height: 1.5em;
	top: 22px;
	left: 16px;
}*/


#slist {
	padding-top: 0;
	padding-bottom: 50px;
	line-height: 1.8em;
	font-size: .95em;
}
#slist h2 {
	background-image: url(pink-triangle.png);
	color: #fe9c9c;
	font-size: 1em;
	margin-bottom: 1.5em;
}
#slist .type {
	padding-bottom: 1em;
}
#slist .sponsor {
	margin-bottom: 1.1em;
	padding-left: .8em;
}
#slist .sponsor ul {
	list-style-position: inside;
	color: #fe9c9c;
	margin-top: .6em;
}